extends layout
block content
    h2 Liste des projets Disponible
    br
    form(action="/index" method="POST")
        table.table
            thead.thead-dark
                tr
                th(scope='col') Numéro
                th(scope='col') Nom du projet
                th(scope='col') Nom de l'encadrant
                th(scope='col') Nombre d'étudiants max
                th(scope='col') Date Limite
                th(scope='col') Choix
                            -var index=1
                            each pro in data.projet
                                -if (pro.Dispo){
                                    tbody
                                        tr1    
                                            th(scope='row')=index++
                                            td=pro.Nom
                                            td=pro.Encadrant
                                            td=pro.nombreEtudiants
                                            td= pro.dateLimite.getDate() 
                                                | 
                                                =data.Mois[pro.dateLimite.getMonth()]
                                                | 
                                                =pro.dateLimite.getFullYear()
                                            td  
                                                .form-check.col
                                                    input#flexRadioDefault2.form-check-input(type='radio' name='projet' value=pro.Nom)
                                -}
        button.btn.btn-success(type="submit") Choisir
                                   
                                                                                              
                    
                                                                      
            
