extends layout
block content
    .identite
        img.photo-id(src='/images/photo-id.jpg' alt='')
        .infos
            
            h2
                b  
                | #{Utilisateur.Nom} #{Utilisateur.Prenom}
            p
                b Fonction:
                |  #{Utilisateur.Fonction}
            
            p
                b Sp&eacute;cialit&eacute;:
                |  #{Utilisateur.Specialite}
            p
                b Email:
                |  #{Utilisateur.Email}
    br
    br
    if Utilisateur.Fonction == "Etudiant"        
        h2 - Projet en Cours
        h3 

        h2 - Materiel pr&eacute;t&eacute;
        
    if Utilisateur.Fonction == "Enseignant"
            a(href="/addprojet")
                button.btn.btn-success.col-4(type='submit') Ajouter un projet

