extends layout
block content
    .identite
        img.photo-id(src='/images/photo-id.jpg' alt='')
        .infos
            
            h2
                b  
                | #{Nom} #{Prenom}
            p
                b Fonction:
                |  #{Fonction}
            
            p
                b Sp&eacute;cialit&eacute;:
                |  #{Specialite}
            p
                b Email:
                |  #{Email}
            
    h2 - Projet en Cours
    h3 

    h2 - Materiel pr&eacute;t&eacute;
