extends layout
block content
    .identite
        img.photo-id(src='/images/photo-id.jpg' alt='')
        .infos
            
            h2
                b  
                | #{Utilisateur.Nom} #{Utilisateur.Prenom}
            p
                b 
                |  #{Utilisateur.Fonction}
            if Utilisateur.Fonction == "Etudiant" 
                p
                    b Sp&eacute;cialit&eacute;:
                    |  #{Utilisateur.Specialite}
            p
                b Email:
                |  #{Utilisateur.Email}
    br
    br
    if Utilisateur.Fonction == "Etudiant"        
        h2 - Projet en Cours
            br
            ul
                li &nbsp #{Utilisateur.Projet}

        
    if Utilisateur.Fonction == "Enseignant"
            h2 - Projet en Cours
            br
            ul
                -if(data.proj.length>0){    
                    each pro in data.proj
                        li &nbsp #{pro.Nom} (#{pro.PrisPar})
                -}
                -else if(data.proj.length==0){ 
                    | Aucun Projet Proposé
                -}
            a(href="/addprojet")
                button.btn.btn-success.col-4(type='submit') Proposer un projet

